:root {
    --primary-color: rgb(32, 32, 162);
    --overlay-color: rgba(32, 32, 162, 0.75);
    --secondary-color: white;
    --accent1-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    opacity: 1;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--overlay-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    top: 350px;
    right: -16px;
    width: 100%;
    padding: 16px;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--overlay-color);
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

footer p {
    font-size: small;
}