:root {
    --primary-color: rgb(43, 43, 121);
    --overlay-color: rgba(43, 43, 121, 0.7);
    --secondary-color: white;
    --accent1-color: black;
    --lightblue-color: rgb(235, 240, 242);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    display: block;
    color: var(--secondary-color);
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 12px;
    padding: 8px;
    opacity: 1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.socialmedia {
    grid-column: 3;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

.hero {
    position: relative;
}

.hero p {
    line-height: 1.6;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--overlay-color);
    color: var(--secondary-color);
}

.hero2 h1 {
    /* margin-top: 20px;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color); */
    padding-bottom: 10px;
}

.hero h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 12px;
    color: var(--secondary-color);
    grid-column: 1 / span 3;
}

.hero article {
    position: absolute;
    top: 350px;
    right: -12px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--overlay-color);
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

/* .history h2 {
    grid-column: 1 / span 3;
    background-color: white;
    width: 100%;
} */

.history-title {
    padding-top: 25px;
    padding-bottom: 20px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--lightblue-color);
}

.history img {
    width: 250px;
    height: auto;
    margin: 10px;
}

.history p {
    line-height: 1.6;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.adventure img {
    width: 120px;
    height: auto;
    margin: 10px;
}

.adventure figure figcaption {
    font-size: .75rem;
    text-align: center;
}

.adventure h2 {
    grid-column: 1/ span 5;
    margin-bottom: 15px;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
}

footer p {
    grid-column: 2;
    font-size: 0.85rem;
}

.company-name h1 {
    text-align: center;
}

.company-name p {
    text-align: center;
    padding: 0;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lightblue-color);
    padding: 10px;
}

.contact-content form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-left: 15px;
    gap: 8px;
    font-family: sans-serif;
    font-size: 0.80rem;
    font-weight: 600;
}

.contact-content iframe {
    width: 100%;
    border: 0;
}

.message-purpose {
    display: flex;
    flex-direction: column;
}

.message-purpose label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 4px 0;
}

.subscribe {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    gap: 6px;
}

form button {
    grid-column: 1 / span 2;
    font-weight: 700;
    padding: 6px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    border-color: var(--primary-color);
}

.message {
    grid-column: 1 / span 2;
}

.message textarea {
    width: 100%;
}

form input {
    border-radius: 3px;
    padding: 6px;
    background-color: rgb(238, 236, 236);
}

form textarea {
    margin-top: 3px;
    padding: 15px;
    border-radius: 3px;
    background-color: rgb(238, 236, 236);
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.employees h2 {
    grid-column: 1/ span 3;
    margin-top: 10px;
    margin-bottom: 30px;
}

.employees img {
    width: 200px;
}

.employees figure figcaption {
    font-size: .75rem;
    text-align: center;
}

.quote {
    font-size: 1.1rem;
    font-style: italic;
    /* text-align: center; */
}

.newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    border: 1px solid var(--lightblue-color);
    border-radius: 6px;
    background-color: var(--lightblue-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 10px;
}

.newsletter form {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    width: 50%;
    justify-self: center;
}

.newsletter h2 {
    padding: 25px;
    grid-column: 1 / span 2;
}

.useremail {
    grid-column: 1 / span 2;
    /* justify-self: center; */
    /* width: 50%; */
}

.useremail input {
    width: 100%;
}

.submit {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 50%;
}

.submit button {
    width: 100%;
}

.firstname,
.lastname,
.useremail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.explore-trips {
    grid-column: 1/ span 3;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

.explore-trips a {
    display: block;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.about-rafting h2 {
    padding: 10px;
}

.about-rafting p {
    line-height: 1.6;
}

.caption {
    padding-top: 10px;
}

.trip-button a {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.trip-button {
    position: absolute;
    top: 390px;
    right: 540px;
}

.trip-one,
.trip-three {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: var(--lightblue-color);
    padding-right: 10px;
}

.trip-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-left: 10px;
}

.trip-one img,
.trip-two img,
.trip-three img {
    max-width: 300px;
}

.description h4,
.description-two h4,
.description-three h4 {
    text-align: center;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 1.1rem;
}

.description span,
.description-two span,
.description-three span {
    font-weight: 600;
}

.description p,
.description-two p,
.description-three p {
    line-height: 1.2;
}

.trip h2 {
    padding: 30px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 20px 14px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
}

.table h2 {
    padding: 25px;
}

.table td:first-child {
    font-weight: 600;
}

/* .contact-content button {
    grid-column: 1/span2;
} */